* {padding: 0; margin: 0; box-sizing: border-box;
	}
	body {
		margin: 1% 5% 2% 5%;
		padding: 2%;
		font-family: arial;
		border: 13px dashed blue;
		border-radius: 40px;
	}
	h1 { display: inline-block;
		font:33px san-serif;
		color: rgba(223,134,223,1);
	}
	#heading {
		font-size: 40px;
		font-family: arial;
	}
	h1 img { margin: 8px 10px 0px; ;
		width: 50px;
		height: auto;
	}
	.back {
		position: fixed;
		left: 46%;
		top: 55px;
		background: rgba(0,0,255,1);
		color: rgba(255,255,255,1);
		box-shadow: 4px 5px 6px grey;
		border: 1px solid transparent;
		border-radius: 9px;
		padding: 10px;
	}
	#loadButton, #checkAnswersBtn {
		color: rgba(255,255,255,1);
		background: rgba(10,123,250,.9);
		box-shadow: 4px 4px 6px grey; 
		margin: 5px; 
		padding: 7px 23px;
		border-radius: 9px;
		cursor:pointer;
	}
	#loadButton:hover, #checkAnswersBtn:hover, .back:hover {
		background-color: rgba(234,89,189,0.9);
		box-shadow: 1px 1px 1px grey;
	}
	#addition { font-size: 45px;
		font-weight: bolder;
		color: #F6E003;
		text-shadow: 3px 3px 4px grey;
	}
	#subtraction { font-size: 45px;
		font-weight: bolder;
		color: #00C2F3;
		text-shadow: 3px 3px 4px grey;
	}
	#multiplication { font-size: 45px;
		font-weight: bolder;
		color: #79AF00;
		text-shadow: 3px 3px 4px grey;
	}
	#division { font-size: 45px;
		font-weight: bolder;
		color: #FF23A6;
		text-shadow: 3px 3px 4px grey;
	}
	.cartoonImg {
		position: fixed;
		right: 107px;
		top: 32px;
		width: 10%;
		height: auto;
	}
	span {
		padding: 25px;
		display: inline-block;
		font: 20px san-serif;
	}
	label {
		padding: 3px;
		font: 20px san-serif;
	}
	.operator {
		color: rgba(255,0,0,1);
		font: 20px san-serif;
		font-weight: bolder;
	}
	.inputx {
		color: rgba(0,0,255,1);
		font: 20px san-serif;
	}
	.inputy {
		color: rgba(255,0,255,1);
		font: 20px san-serif;
	}
	.output {
		font: 25px san-serif;
		margin: 3px;
		color: rgba(125,23,255,1);
	}
	.check {
		padding: 0px 0px 0px 0px;
		margin: 0px;
	}
	.check img {
		padding: 1px 0px 0px 0px; 
		margin-top: 2px;
	}
	input:focus {
		background-color:rgba(255,255,0,0.9); 
	}

	li {list-style-type:none;
}
a { text-decoration:none;
}
header { background-color:rgba(123,222,67,.9);
	color:rgba(255,255,233,1);      
	font-size:40px;
	text-shadow:5px 5px 3px black,0px 0px 25px red;
	width:98%;
	padding:30px 0px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2px;
	}
	header:hover { background-color:rgba(18,123,99,0.8);
               color:grey;    text-align:center;   font-size:20px;
               text-shadow:2px 2px 3px black,0px 0px 30px red;
}

nav { background-color:rgba(89,213,189,0.9);
      width:98%;
      margin-left:auto;   margin-right:auto;
}
ul { display:inline;
}
li { display:inline-block;
}
li a { display:block;
       padding:20px;
       width:100%;
       background-color: rgba(239,239,0,0.8);
       text-align:center;   font-weight:bold;
       box-shadow:4px 4px 3px grey;
       margin:3px 5px;
       border: 1px solid transparent;
       border-radius: 10px;
}
li>a:hover { background-color:rgba(234,0,123,0.9);
               color:white;
               box-shadow:1px 1px 3px grey;
}
main { background-color:#b5d7ee;
	width:78%;
	float:left;
	margin-top:4px;
	margin-left:1%;
	margin-right:0.25%;
	padding:5px 0px;
	height:330px;
}
section, article { padding:10px;
                   margin-bottom:5px;
                   min-height:350px;
}
.fixedImg img {
	position: fixed;
	right: 25%;
	top: 10%;
	border: 1px solid transparent;
	border-radius: 20px;
	width: 105px;
	height: auto;
}
div.img { margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 180px;
}
div.img:hover { border: 1px solid #777;
                box-shadow:3px 3px 4px grey;
}
div.img img { width: 100%;
}
div.desc { padding: 15px;
	text-align: center;
}
.im > img {
	width: 80%;
}
aside { background-color:#b5ffff;
	width:19.75%;
    float:right;
    margin-top:4px;
    margin-right:1%;
    padding:5px 0px;
    height:330px;
}
aside div {
	padding: 5px 15px;
	color: rgba(255,167,23,0.9);
	font-size: 16pt;
	font-weight: bold;
	text-shadow: 3px 3px 13px blue;
}
button { background-color:;
	padding:10px;
	border-radius:15px;
}
footer { clear:right;
	background-color:#567890;
	color:white;
	text-align:center;
	font-size:16px;
	text-shadow:4px 4px 3px black,0px 0px 19px red;
	width:98%;
	padding:20px 0px;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}
